### Final Project JC-DS Batch 6 Purwadhika Kampus Jakarta

#### Model Selection

by Nur Wibowo

-------

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import warnings
warnings.filterwarnings('ignore')

#### load dataset

In [26]:
df = pd.read_csv('data/dataset_capitalbikesharing.csv', parse_dates=['date'])

In [27]:
df.columns

Index(['date', 'month', 'year', 'holiday', 'workingday', 'weekday', 'season',
       'temperature', 'windspeed', 'humidity', 'casual', 'member', 'total'],
      dtype='object')

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3318 entries, 0 to 3317
Data columns (total 13 columns):
date           3318 non-null datetime64[ns]
month          3318 non-null int64
year           3318 non-null int64
holiday        3318 non-null int64
workingday     3318 non-null int64
weekday        3318 non-null int64
season         3318 non-null int64
temperature    3318 non-null int64
windspeed      3318 non-null int64
humidity       3318 non-null float64
casual         3318 non-null int64
member         3318 non-null int64
total          3318 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(11)
memory usage: 337.1 KB

#### preprocessing

In [29]:
dfpp = df.copy()

In [30]:
dfpp.head()

,date,month,year,holiday,workingday,weekday,season,temperature,windspeed,humidity,casual,member,total
0,2010-09-20,9,2010,0,1,0,3,23,17,0.47,34,178,212
1,2010-09-21,9,2010,0,1,1,3,20,10,0.52,109,215,324
2,2010-09-22,9,2010,0,1,2,3,26,15,0.60,117,260,377
3,2010-09-23,9,2010,0,1,3,3,27,8,0.64,124,249,373
4,2010-09-24,9,2010,0,1,4,3,29,15,0.60,156,206,362

In [31]:
# drop casual and member feature
dfpp = dfpp.drop(['casual', 'member'], axis=1)

In [32]:
dfpp.columns

Index(['date', 'month', 'year', 'holiday', 'workingday', 'weekday', 'season',
       'temperature', 'windspeed', 'humidity', 'total'],
      dtype='object')

In [33]:
# encoding categorical
list_cat = ['month', 'year', 'holiday', 'workingday', 'weekday', 'season']

for i in list_cat:
    dfpp = pd.get_dummies(dfpp, columns=[i], drop_first=True)

In [34]:
dfpp.head()

,date,temperature,windspeed,humidity,total,month_2,month_3,month_4,month_5,month_6,...,workingday_1,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,season_2,season_3,season_4
0,2010-09-20,23,17,0.47,212,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
1,2010-09-21,20,10,0.52,324,0,0,0,0,0,...,1,1,0,0,0,0,0,0,1,0
2,2010-09-22,26,15,0.60,377,0,0,0,0,0,...,1,0,1,0,0,0,0,0,1,0
3,2010-09-23,27,8,0.64,373,0,0,0,0,0,...,1,0,0,1,0,0,0,0,1,0
4,2010-09-24,29,15,0.60,362,0,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0

In [22]:
# scalling temp, windspeed, humidity
dfsc = dfpp[['temperature', 'windspeed', 'humidity']]

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()df
scaled = scaler.fit_transform(dfsc)

pd.DataFrame(scaled)

             0         1       2
0     0.750000  0.386364  0.3500
1     0.681818  0.227273  0.4125
2     0.818182  0.340909  0.5125
3     0.840909  0.181818  0.5625
4     0.886364  0.340909  0.5125
...        ...       ...     ...
3313  0.704545  0.340909  0.7875
3314  0.590909  0.250000  0.6125
3315  0.613636  0.159091  0.6875
3316  0.613636  0.136364  0.8125
3317  0.681818  0.500000  0.8875

[3318 rows x 3 columns]

In [35]:
dfpp.columns

Index(['date', 'temperature', 'windspeed', 'humidity', 'total', 'month_2',
       'month_3', 'month_4', 'month_5', 'month_6', 'month_7', 'month_8',
       'month_9', 'month_10', 'month_11', 'month_12', 'year_2011', 'year_2012',
       'year_2013', 'year_2014', 'year_2015', 'year_2016', 'year_2017',
       'year_2018', 'year_2019', 'holiday_1', 'workingday_1', 'weekday_1',
       'weekday_2', 'weekday_3', 'weekday_4', 'weekday_5', 'weekday_6',
       'season_2', 'season_3', 'season_4'],
      dtype='object')

In [39]:
dfx = dfpp.drop(['total', 'date'], axis=1)
dfy = dfpp['total']

#### splitting

In [100]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from math import sqrt

x_train,x_test,y_train,y_test = train_test_split(dfx, dfy, test_size= 0.2, random_state = 10)

#### linear regression

In [102]:
from sklearn import linear_model
model_lr = linear_model.LinearRegression()

model_lr.fit(x_train, y_train)
pred = model_lr.predict(x_test)
print('MAE: %.2f' % mean_absolute_error(y_test, pred))
print('RMSE: %.2f' % sqrt(mean_squared_error(y_test, pred)))

MAE: 1216.61
RMSE: 1608.16

#### logistic regression

In [85]:
from sklearn.linear_model import LogisticRegression
model_lg = LogisticRegression(solver='lbfgs', max_iter=500)

model_lg.fit(x_train, y_train)
pred = model_lg.predict(x_test)
print('MAE: %.2f' % mean_absolute_error(y_test, pred))
print('RMSE: %.2f' % sqrt(mean_squared_error(y_test, pred)))

MAE: 2058.49
RMSE: 2971.24

#### Random Forest

In [86]:
from sklearn.ensemble import RandomForestClassifier
model_rfc = RandomForestClassifier(n_estimators=500, max_depth=2)

model_rfc.fit(x_train, y_train)
pred = model_rfc.predict(x_test)
print('MAE: %.2f' % mean_absolute_error(y_test, pred))
print('RMSE: %.2f' % sqrt(mean_squared_error(y_test, pred)))

MAE: 2333.90
RMSE: 3232.06

#### SVC

In [87]:
from sklearn.svm import SVC
modelS = SVC(gamma='auto')

modelS.fit(x_train, y_train)
pred = modelS.predict(x_test)
print('MAE: %.2f' % mean_absolute_error(y_test, pred))
print('RMSE: %.2f' % sqrt(mean_squared_error(y_test, pred)))

MAE: 3157.31
RMSE: 4175.28

#### KNN

In [58]:
def nNeigbors():
    x = round(len(dfpp)**.5)
    if x % 2 == 0:
        return x + 1
    else:
        return x

In [88]:
from sklearn.neighbors import KNeighborsClassifier
modelK = KNeighborsClassifier(n_neighbors=nNeigbors())

modelK.fit(x_train,y_train)
pred = modelK.predict(x_test)
print('MAE: %.2f' % mean_absolute_error(y_test, pred))
print('RMSE: %.2f' % sqrt(mean_squared_error(y_test, pred)))

MAE: 5707.49
RMSE: 6783.10

Dengan hanya melihat besaran RMSE, saya langsung memilih KNN. Kemudian selanjutnya akan diuji lebih lanjut pada notebook predicting