### Final Project JC-DS Batch 6 Purwadhika Kampus Jakarta

#### Model Selection

by Nur Wibowo

-------

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import warnings
warnings.filterwarnings('ignore')

#### load dataset

In [2]:
df = pd.read_csv('data/dataset_capitalbikesharing.csv', parse_dates=['date'])

In [3]:
df.columns

Index(['date', 'month', 'year', 'holiday', 'workingday', 'weekday', 'season',
       'temperature', 'windspeed', 'humidity', 'casual', 'member', 'total'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3318 entries, 0 to 3317
Data columns (total 13 columns):
date           3318 non-null datetime64[ns]
month          3318 non-null int64
year           3318 non-null int64
holiday        3318 non-null int64
workingday     3318 non-null int64
weekday        3318 non-null int64
season         3318 non-null int64
temperature    3318 non-null int64
windspeed      3318 non-null int64
humidity       3318 non-null float64
casual         3318 non-null int64
member         3318 non-null int64
total          3318 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(11)
memory usage: 337.1 KB

#### preprocessing

In [5]:
dfpp = df.copy()

In [6]:
dfpp.head()

,date,month,year,holiday,workingday,weekday,season,temperature,windspeed,humidity,casual,member,total
0,2010-09-20,9,2010,0,1,0,3,23,17,0.47,34,178,212
1,2010-09-21,9,2010,0,1,1,3,20,10,0.52,109,215,324
2,2010-09-22,9,2010,0,1,2,3,26,15,0.60,117,260,377
3,2010-09-23,9,2010,0,1,3,3,27,8,0.64,124,249,373
4,2010-09-24,9,2010,0,1,4,3,29,15,0.60,156,206,362

In [7]:
# drop casual and member feature
dfpp = dfpp.drop(['casual', 'member'], axis=1)

In [8]:
dfpp.columns

Index(['date', 'month', 'year', 'holiday', 'workingday', 'weekday', 'season',
       'temperature', 'windspeed', 'humidity', 'total'],
      dtype='object')

In [9]:
# encoding categorical
list_cat = ['month', 'year', 'holiday', 'workingday', 'weekday', 'season']

for i in list_cat:
    dfpp = pd.get_dummies(dfpp, columns=[i], drop_first=True)

In [10]:
dfpp.head()

,date,temperature,windspeed,humidity,total,month_2,month_3,month_4,month_5,month_6,...,workingday_1,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,season_2,season_3,season_4
0,2010-09-20,23,17,0.47,212,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
1,2010-09-21,20,10,0.52,324,0,0,0,0,0,...,1,1,0,0,0,0,0,0,1,0
2,2010-09-22,26,15,0.60,377,0,0,0,0,0,...,1,0,1,0,0,0,0,0,1,0
3,2010-09-23,27,8,0.64,373,0,0,0,0,0,...,1,0,0,1,0,0,0,0,1,0
4,2010-09-24,29,15,0.60,362,0,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0

In [56]:
# scalling temp, windspeed, humidity
# dfsc = dfpp[['temperature', 'windspeed', 'humidity']]

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaled = scaler.fit_transform(dfpp.drop('date', axis=1))

dfpp_sc = pd.DataFrame(scaled, columns=dfpp.columns[1:])
dfpp_sc.head()

,temperature,windspeed,humidity,total,month_2,month_3,month_4,month_5,month_6,month_7,...,workingday_1,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,season_2,season_3,season_4
0,0.750000,0.386364,0.3500,0.010004,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.681818,0.227273,0.4125,0.015871,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.818182,0.340909,0.5125,0.018647,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.840909,0.181818,0.5625,0.018437,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.886364,0.340909,0.5125,0.017861,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

Index(['temperature', 'windspeed', 'humidity', 'total', 'month_2', 'month_3',
       'month_4', 'month_5', 'month_6', 'month_7', 'month_8', 'month_9',
       'month_10', 'month_11', 'month_12', 'year_2011', 'year_2012',
       'year_2013', 'year_2014', 'year_2015', 'year_2016', 'year_2017',
       'year_2018', 'year_2019', 'holiday_1', 'workingday_1', 'weekday_1',
       'weekday_2', 'weekday_3', 'weekday_4', 'weekday_5', 'weekday_6',
       'season_2', 'season_3', 'season_4'],
      dtype='object')

In [13]:
dfpp.columns

Index(['date', 'temperature', 'windspeed', 'humidity', 'total', 'month_2',
       'month_3', 'month_4', 'month_5', 'month_6', 'month_7', 'month_8',
       'month_9', 'month_10', 'month_11', 'month_12', 'year_2011', 'year_2012',
       'year_2013', 'year_2014', 'year_2015', 'year_2016', 'year_2017',
       'year_2018', 'year_2019', 'holiday_1', 'workingday_1', 'weekday_1',
       'weekday_2', 'weekday_3', 'weekday_4', 'weekday_5', 'weekday_6',
       'season_2', 'season_3', 'season_4'],
      dtype='object')

In [14]:
dfx = dfpp.drop(['total', 'date'], axis=1)
dfy = dfpp['total']

In [57]:
dfx = dfpp_sc.drop(['total'], axis=1)
dfy = dfpp['total']

In [41]:
dfn = df.copy()

In [42]:
dfx = dfn.drop(['total', 'date', 'casual', 'member'], axis=1)
dfy = dfn['total']

#### splitting

In [68]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, accuracy_score
from math import sqrt

x_train,x_test,y_train,y_test = train_test_split(dfx, dfy, test_size= 0.2, random_state = 10)

In [40]:
len(y_test)

664

#### linear regression

In [59]:
from sklearn import linear_model
model_lr = linear_model.LinearRegression()
model_lr.fit(x_train, y_train)

pred = model_lr.predict(x_test)
print('Test')
print('MAE: %.2f' % mean_absolute_error(y_test, pred))
print('MSE: %.2f' % mean_squared_error(y_test, pred))
print('RMSE: %.2f' % sqrt(mean_squared_error(y_test, pred)))

pred2 = model_lr.predict(x_train)
print('\nTrain')
print('MAE: %.2f' % mean_absolute_error(y_train, pred2))
print('MSE: %.2f' % mean_squared_error(y_train, pred2))
print('RMSE: %.2f' % sqrt(mean_squared_error(y_train, pred2)))

Test
MAE: 1216.74
MSE: 2586465.46
RMSE: 1608.25

Train
MAE: 1277.03
MSE: 2814584.57
RMSE: 1677.67

#### lasso regression

In [60]:
model_lg = linear_model.Lasso()
model_lg.fit(x_train, y_train)

pred = model_lg.predict(x_test)
print('Test')
print('MAE: %.2f' % mean_absolute_error(y_test, pred))
print('MSE: %.2f' % mean_squared_error(y_test, pred))
print('RMSE: %.2f' % sqrt(mean_squared_error(y_test, pred)))

pred2 = model_lg.predict(x_train)
print('\nTrain')
print('MAE: %.2f' % mean_absolute_error(y_train, pred2))
print('MSE: %.2f' % mean_squared_error(y_train, pred2))
print('RMSE: %.2f' % sqrt(mean_squared_error(y_train, pred2)))

Test
MAE: 1217.07
MSE: 2585942.71
RMSE: 1608.09

Train
MAE: 1277.88
MSE: 2818331.60
RMSE: 1678.79

In [72]:
param_grid = [{'alpha':[1.0,0.0,0.1,0.01,0.001]}]
lg_grid = GridSearchCV(model_lg, param_grid, cv=10)

lg_grid.fit(x_train, y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
             estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True,
                             max_iter=1000, normalize=False, positive=False,
                             precompute=False, random_state=None,
                             selection='cyclic', tol=0.0001, warm_start=False),
             iid='warn', n_jobs=None,
             param_grid=[{'alpha': [1.0, 0.0, 0.1, 0.01, 0.001]}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [73]:
lg_grid.best_estimator_

Lasso(alpha=0.1, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [74]:
model_lg = linear_model.Lasso(alpha=0.1, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)
model_lg.fit(x_train, y_train)

pred = model_lg.predict(x_test)
print('Test')
print('MAE: %.2f' % mean_absolute_error(y_test, pred))
print('MSE: %.2f' % mean_squared_error(y_test, pred))
print('RMSE: %.2f' % sqrt(mean_squared_error(y_test, pred)))

pred2 = model_lg.predict(x_train)
print('\nTrain')
print('MAE: %.2f' % mean_absolute_error(y_train, pred2))
print('MSE: %.2f' % mean_squared_error(y_train, pred2))
print('RMSE: %.2f' % sqrt(mean_squared_error(y_train, pred2)))

Test
MAE: 1216.63
MSE: 2585748.94
RMSE: 1608.03

Train
MAE: 1277.04
MSE: 2814605.77
RMSE: 1677.68

In [79]:
model_lg.predict(np.array([1,12,23,12]).reshape(1, -1))

ValueError: shapes (1,4) and (34,) not aligned: 4 (dim 1) != 34 (dim 0)

#### ridge regression

In [61]:
model_rg = linear_model.Ridge()
model_rg.fit(x_train, y_train)

pred = model_rg.predict(x_test)
print('Test')
print('MAE: %.2f' % mean_absolute_error(y_test, pred))
print('MSE: %.2f' % mean_squared_error(y_test, pred))
print('RMSE: %.2f' % sqrt(mean_squared_error(y_test, pred)))

pred2 = model_rg.predict(x_train)
print('\nTrain')
print('MAE: %.2f' % mean_absolute_error(y_train, pred2))
print('MSE: %.2f' % mean_squared_error(y_train, pred2))
print('RMSE: %.2f' % sqrt(mean_squared_error(y_train, pred2)))

Test
MAE: 1221.75
MSE: 2605436.74
RMSE: 1614.14

Train
MAE: 1279.39
MSE: 2829664.78
RMSE: 1682.16

#### KNN

In [20]:
def nNeigbors():
    x = round(len(dfpp)**.5)
    if x % 2 == 0:
        return x + 1
    else:
        return x

In [67]:
from sklearn.neighbors import KNeighborsClassifier
modelK = KNeighborsClassifier(n_neighbors=nNeigbors())
modelK.fit(x_train,y_train)

pred = modelK.predict(x_test)
print('Test')
print('MAE: %.2f' % mean_absolute_error(y_test, pred))
print('MSE: %.2f' % mean_squared_error(y_test, pred))
print('RMSE: %.2f' % sqrt(mean_squared_error(y_test, pred)))

pred2 = modelK.predict(x_train)
print('\nTrain')
print('MAE: %.2f' % mean_absolute_error(y_train, pred2))
print('MSE: %.2f' % mean_squared_error(y_train, pred2))
print('RMSE: %.2f' % sqrt(mean_squared_error(y_train, pred2)))

Test
MAE: 5445.31
MSE: 42174426.12
RMSE: 6494.18
0.0

Train
MAE: 5492.68
MSE: 43758790.35
RMSE: 6615.04

3318

Dengan hanya melihat besaran RMSE, saya langsung memilih KNN. Kemudian selanjutnya akan diuji lebih lanjut pada notebook predicting